<!--File Name: error.ejs
Author: Bikramjit Singh
Website Name: Portfolio
Description: This file contains content, view information of the webpage
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
